html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(34, 34, 34);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

h1 {
  color: rgb(218, 165, 32);
  font-size: 4rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}

p {
  color: rgb(218, 165, 32);
  font-size: 1.2rem;
  width: 100%;
  padding: 20px;
  text-align: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: centers;
  width: 60%;
  text-decoration: none;
}


.whatsapp {
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(218, 165, 32);
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 2rem;
  font-size: 30px;
  padding: 5px;
  width: 60%;
}

.whatsapp:hover {
  background-position: 0;
}

.ligar {
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(218, 165, 32);
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 2rem;
  font-size: 30px;
  padding: 5px;
  width: 60%;
}

.ligar:hover {
  background-position: 0;
}

.site {
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(218, 165, 32);
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 2rem;
  font-size: 30px;
  padding: 5px;
  width: 60%;
}

.site:hover {
  background-position: 0;
}

.portifolio {
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(218, 165, 32);
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 2rem;
  font-size: 30px;
  padding: 5px;
  width: 60%;
}

.portifolio:hover {
  background-position: 0;
}

.instagram {
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(218, 165, 32);
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(218, 165, 32) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  border-radius: 2rem;
  font-size: 30px;
  padding: 5px;
  width: 60%;
}

.instagram:hover {
  background-position: 0;
}

@media screen and (max-width: 767px) {

  .whatsapp {
    font-size: 1.5rem;
  }

  .ligar {
    font-size: 1.5rem;
  }

  .site {
    font-size: 1.5rem;
  }

  .portifolio {
    font-size: 1.5rem;
  }

  .instagram {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 424px) {

  .whatsapp {
    font-size: 1rem;
  }

  .ligar {
    font-size: 1rem;
  }

  .site {
    font-size: 1rem;
  }

  .portifolio {
    font-size: 1rem;
  }

  .instagram {
    font-size: 1rem;
  }

}
