body {
  background-color: rgb(34, 34, 34);
  width: 100%;
  margin: 0;
}

header {
  background-color: rgb(20, 20, 20);
  height: 60px;
  display: flex;
  flex-direction: row;
  font-family: 'ruda-black';
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

aside {
  width: 20%;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.btn-whatsapp {
  padding-right: 20px;
  font-size: 2rem;
  color: rgb(213, 213, 213);
}

.btn-whatsapp :hover {
  color: rgb(100, 100, 100);
}

.btn-instagram {
  padding-right: 20px;
  font-size: 2rem;
  color: rgb(213, 213, 213);
}

.btn-instagram :hover {
  color: rgb(100, 100, 100);
}

.btn-linkedin {
  padding-right: 20px;
  font-size: 2rem;
  color: rgb(213, 213, 213);
}

.btn-linkedin :hover {
  color: rgb(100, 100, 100);
}

.btn-github {
  font-size: 2rem;
  color: rgb(213, 213, 213);
}

.btn-github :hover {
  color: rgb(100, 100, 100);
}

a {
  text-decoration: none;
}

.title {
  display: flex;
  color: rgb(213, 213, 213);
  justify-content: center;

}

.menu-drop {
  width: 20%;
  display: flex;
  align-items: center;
}

.btn-drop {
  position: fixed;
  right: 20px;
  padding: 20px;

}

button[name="drop"] {
  border: none;
  cursor: pointer;
  background-color: rgb(213, 213, 213);
  padding: 5px;
  font-size: 20px;
  color: rgb(20, 20, 20);
}

.drop-content {
  display: none;
  margin-top: 100px;
}

.drop-content a {
  font-family: 'ruda-black';
  color: rgb(213, 213, 213);
  padding: 8px 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.btn-drop:hover .drop-content {
  display: block;
}

.btn-drop:hover button[name="drop"] {
  display: none;
  background-color: transparent;
}

.drop-content a:hover {
  background-color: black;
}

.drop-content {
  display: none;
  background-color: transparent;
  position: relative;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  color: rgb(213, 213, 213);
  font-family: 'ruda-black';
}

.programacao {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

}

.wordpress {
  width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 300px;
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 5px solid;
  color: rgb(213, 213, 213);
  background-color: rgb(20, 20, 20)
}

.entre {
  display: flex;
  justify-content: center;
  align-self: center;
  color: black;
  font-family: 'ruda-black';
  font-size: 2rem;
}

.prog-title {
  font-size: 1.5rem;
}

.prog-icon {
  font-size: 5rem;
}

.word-title {
  font-size: 1.5rem;
}

.word-icon {
  font-size: 5rem;
}

footer {
  width: 100%;
  height: 1.5rem;
  margin-top: 10px;
  bottom: 0;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: rgb(20, 20, 20);
  color: rgb(213, 213, 213);
}

@media only screen and (max-width: 1024px) {

  .btn-drop {
    position: absolute;
  }

  .btn-whatsapp {
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .btn-instagram {
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .btn-linkedin {
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .btn-github {
    font-size: 1.2rem;
  }

  main {
    padding-top: 100px;
  }

  .container {
    height: 250px;
  }

  .prog-title {
    font-size: 1.3rem;
  }

  .prog-icon {
    font-size: 4.5rem;
  }

  .word-title {
    font-size: 1.3rem;
  }

  .word-icon {
    font-size: 4.5rem;
  }

  footer {
    width: 100%;
    height: 1.5rem;
    margin-top: 10px;
    bottom: 0;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgb(20, 20, 20);
    color: rgb(213, 213, 213);
  }
}

@media only screen and (max-width: 768px) {

  .btn-whatsapp {
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .btn-instagram {
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .btn-linkedin {
    padding-right: 10px;
    font-size: 1.2rem;
  }

  .btn-github {
    font-size: 1.2rem;
  }

  .btn-drop {
    position: absolute;
  }

  main {
    padding-top: 100px;
  }

  .container {
    height: 250px;
  }

  .prog-title {
    font-size: 1.2rem;
  }

  .prog-icon {
    font-size: 4.3rem;
  }

  .word-title {
    font-size: 1.2rem;
  }

  .word-icon {
    font-size: 4.3rem;
  }

  footer {
    width: 100%;
    height: 1.5rem;
    margin-top: 10px;
    bottom: 0;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgb(20, 20, 20);
    color: rgb(213, 213, 213);
  }
}

@media only screen and (max-width: 425px) {

  .title {
    font-size: 0.8rem;
  }

  .btn-drop {
    right: 5px;
    padding: 5px;
  }

  main {
    flex-direction: column;
  }

  .container {
    height: 240px;
    width: 200px;
  }

  footer {
    width: 100%;
    height: 1.5rem;
    margin-top: 10px;
    bottom: 0;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: rgb(20, 20, 20);
    color: rgb(213, 213, 213);
  }

}
